services:
  backend:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile
    container_name: univer_see_app
    restart: always
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/static
      - media_volume:/app/media
    env_file:
      - envs/.env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

    networks:
      - univer_see_network

  db:
    image: mysql:8.0
    container_name: mysql
    restart: always
    command: --wait-timeout=28800 --interactive-timeout=28800 --max-connections=200
    env_file:
      - envs/.env
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "--silent"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    networks:
      - univer_see_network

  bot:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile
    image: univer_see_bot
    command: python app.py
    volumes:
      - .:/app
    env_file:
      - envs/.env
    restart: always
    depends_on:
      - db
    networks:
      - univer_see_network

networks:
  univer_see_network:
    driver: bridge

volumes:
  static_volume:
  media_volume:
  mysql_data:
