{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    {% if import_excel_url %}
    <li>
        <a href="{{ import_excel_url }}" class="addlink" style="background:#1F4E79;">
            &#11014; Excel yuklash
        </a>
    </li>
    {% endif %}
    {% if export_excel_url %}
    <li>
        <a href="{{ export_excel_url }}" class="addlink" style="background:#217346;">
            &#11015; Excel yuklab olish
        </a>
    </li>
    {% endif %}
    {{ block.super }}
{% endblock %}
